<p class="display-5" id="p-top"><%= @reply.enquete.title %></p>

<%= form_with(model: @reply, local: true) do |f| %>
  <%= render partial: 'replies/form', locals: { f: f, reply: @reply, is_edit: true } %>

  <div class="m-5 row" id="p-save">
    <%= f.submit "途中まで保存", name: "save", class: "btn btn-secondary", disabled: !@reply.submitted_at.nil? %>
    <%= f.submit "回答完了", name: "finish", class: "btn btn-primary",
      data: { confirm: "アンケート回答を送信します。よろしいですか？" } %>
  </div>
<% end %>

<%= render partial: 'replies/footer', locals: { is_edit: true } %>