<h4>あなたが作成したアンケート</h4>

<% if @enquetes.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">タイトル</th>
        <th scope="col">送信者</th>
        <th scope="col">回答期限</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @enquetes.each do |enq| %>
      <tr>
        <th scope="row"><%= enq.id %></td>
        <td><%= enq.title %></td>
        <td><%= enq.sender.user_name %></td>
        <td><%= enq.deadline %></td>
        <td>
          <%= link_to "詳細", enq, class: "btn btn-sm btn-success" %>
          <%= link_to "削除", enq, method: :delete, class: "btn btn-sm btn-danger",
          data: { confirm: "アンケート「#{enq.title}」を削除します。よろしいですか？" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>アンケートはまだありません。</p>
<% end%>
<%= link_to "アンケート作成", :new_enquete, class: "btn btn-primary" %>