<h4><i class="bi bi-pencil"></i> あなたへのアンケート</h4>

<% if @replies.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>送信日</th>
        <th>送信者</th>
        <th>回答期限</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= link_to reply.enquete.title, edit_reply_path(reply.id) %></td>
        <td><%= reply.enquete.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= reply.enquete.sender.user_name %></td>
        <td>
          <%= reply.enquete.deadline %>
          <span class="<%= remain_class(reply.enquete.deadline)%>">
            <%= "（#{show_remain(reply.enquete.deadline)}）"%>
          </span>
        </td>
        <td>
          <% if reply.submitted_at.nil? %>
            <%= link_to "回答", edit_reply_path(reply.id), class: "btn btn-sm btn-warning" %>
          <% else %>
            <%= link_to "回答済", edit_reply_path(reply.id), class: "btn btn-sm btn-dark" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  アンケートはありません。
<% end %>